Makefile
!third_party/libjpeg_turbo/yasm/source/config/linux/Makefile
*.mk
*.Makefile
out/*
testing/*
/.gclient
/.gclient_entries
build/gyp_helper.pyc
build/landmine_utils.pyc
build/temp_gyp/*
gclient.timestamp
third_party/apr/src/*
third_party/aprutil/src/*
third_party/boringssl/*
third_party/chromium/src/base/*
third_party/chromium/src/build/*
third_party/chromium/src/net/base/*
third_party/chromium/src/googleurl/*
third_party/chromium_deps/*
third_party/closure_library/*
third_party/domain_registry_provider/*
third_party/gflags/*
third_party/giflib/*
third_party/google-sparsehash/src/*
third_party/grpc/grpc.gyp
third_party/grpc/src/*
third_party/httpd/src/*
third_party/httpd24/src/*
third_party/hiredis/src/*
third_party/icu/*
third_party/jsoncpp/src/*
third_party/libjpeg_turbo/src/*
third_party/libjpeg_turbo/yasm/source/patched-yasm/*
third_party/libpng/src/*
third_party/libwebp/*
third_party/mod_spdy/*
third_party/modp_b64/*
third_party/optipng/*
third_party/pagespeed*
third_party/protobuf/src/*
third_party/re2/src/*
third_party/serf/src/*
third_party/zlib/*
tools/*
third_party/domain_registry_provider
third_party/domain_registry_provider/*
third_party/google-sparsehash
third_party/google-sparsehash/*
third_party/brotli
third_party/brotli/*
third_party/gflags/*
