Makefile
!third_party/libjpeg_turbo/yasm/source/config/linux/Makefile
*.mk
!install/**/*.mk
*.Makefile
client.timestamp
hooks.timestamp
build/gyp_helper.pyc
build/landmine_utils.pyc
out/
tools/closure/
!devel/Makefile
