[submodule "testing-dependencies/mod_pagespeed"]
	path = testing-dependencies/mod_pagespeed
	url = git@github.com:pagespeed/mod_pagespeed.git
[submodule "testing-dependencies/ngx_cache_purge"]
	path = testing-dependencies/ngx_cache_purge
	url = https://github.com/FRiCKLE/ngx_cache_purge.git
[submodule "testing-dependencies/nginx"]
	path = testing-dependencies/nginx
	url = https://github.com/nginx/nginx.git
[submodule "testing-dependencies/set-misc-nginx-module"]
	path = testing-dependencies/set-misc-nginx-module
	url = https://github.com/openresty/set-misc-nginx-module
