language: c++
# Remove broken repo, per: https://github.com/travis-ci/travis-ci/issues/6588
# Undo this once the repo is fixed.
before_install:
  - "sudo add-apt-repository --remove 'http://us-central1.gce.archive.ubuntu.com/ubuntu/ main restricted'"
  - "sudo add-apt-repository --remove 'http://us-central1.gce.archive.ubuntu.com/ubuntu/ universe'"
  - "sudo add-apt-repository --remove 'http://us-central1.gce.archive.ubuntu.com/ubuntu/ multiverse'"
  - "sudo add-apt-repository http://archive.ubuntu.com/ubuntu/"
  - "sudo add-apt-repository 'http://archive.ubuntu.com/ubuntu/ universe'"
  - "sudo add-apt-repository 'http://archive.ubuntu.com/ubuntu/ multiverse'"
  - "sudo apt-get -qq update"
install:
  - sudo sh -c 'echo "deb http://opensource.wandisco.com/ubuntu precise svn18" >> /etc/apt/sources.list.d/subversion18.list'
  - sudo wget -q http://opensource.wandisco.com/wandisco-debian.gpg -O- | sudo apt-key add -
  - sudo apt-get update 2>&1 > /dev/null
  - mv $TRAVIS_BUILD_DIR ~/ngxpagespeed
  - sudo apt-get install build-essential zlib1g-dev libpcre3 libpcre3-dev unzip g++ python subversion gperf make devscripts fakeroot git curl netcat-traditional gcc-mozilla clang-3.4 2>&1 > /dev/null
  - sudo mv /bin/nc.traditional /usr/bin/nc
  - export PATH=/usr/lib/gcc-mozilla/bin:$PATH
  - sudo ln -sf /usr/lib/gcc-mozilla/lib/libstdc++.so.6 /usr/lib/x86_64-linux-gnu/libstdc++.so.6
  - sudo sh -c 'echo "image/webp webp" >> /etc/mime.types'
  - mkdir -p ~/bin
  - cd ~/bin
  - git clone https://chromium.googlesource.com/chromium/tools/depot_tools.git
  - mkdir ~/mod_pagespeed
  - cd ~/mod_pagespeed
  - git clone https://github.com/pagespeed/mod_pagespeed.git src
  - cd src
  - ~/bin/depot_tools/gclient config https://github.com/pagespeed/mod_pagespeed.git --unmanaged --name=$PWD
  - ~/bin/depot_tools/gclient sync --force --jobs=1
  - cd ~/mod_pagespeed/src/pagespeed/automatic
  - make BUILDTYPE=Release -C ../../pagespeed/automatic AR.host="$PWD/../../build/wrappers/ar.sh" AR.target="$PWD/../../build/wrappers/ar.sh" all
  - cd ~
  - git clone https://github.com/FRiCKLE/ngx_cache_purge.git
  - NGX_CACHE_PURGE=$PWD/ngx_cache_purge
  - wget https://openresty.org/download/ngx_openresty-1.9.7.2.tar.gz
  - tar xzf ngx_openresty-*.tar.gz
  - cd ngx_openresty-*/
  - ./configure --with-luajit
  - make
  - NGX_DEVEL_KIT=$(echo $HOME/ngx_openresty-*/build/ngx_devel_kit-*/)
  - SET_MISC_MODULE=$(echo $HOME/ngx_openresty-*/build/set-misc-nginx-module-*/)
  - HEADERS_MORE_MODULE=$(echo $HOME/ngx_openresty-*/build/headers-more-nginx-module-*/)
  - cd ~
  - wget https://github.com/nginx/nginx/archive/branches/default.zip
  - unzip default.zip
  - cd nginx-branches-default
  - MOD_PAGESPEED_DIR="$HOME/mod_pagespeed/src" ./auto/configure --add-module=$HOME/ngxpagespeed --add-module="$NGX_CACHE_PURGE" --add-module="$NGX_DEVEL_KIT" --add-module="$SET_MISC_MODULE" --add-module="$HEADERS_MORE_MODULE" --with-ipv6
  - make
  - sudo make install
script:
  - echo "build successful"
  - cd ~/ngxpagespeed
  - sudo ./test/run_tests.sh $HOME/mod_pagespeed $HOME/nginx-branches-default/objs/nginx
sudo: required
compiler:
  - gcc
notifications:
  email:
    - cheesy@google.com
    - jefftk@google.com
    - morlovich@google.com
    - jmarantz@google.com
    - huibao@google.com
    - jcrowell@google.com
