ModPagespeed On
ModPagespeedJsPreserveURLs On
ModPagespeedImagePreserveURLs On
ModPagespeedCssPreserveURLs On
ModPagespeedEnableFilters inline_preview_images,lazyload_images
ModPagespeedEnableFilters resize_mobile_images,rewrite_images,sprite_images
ModPagespeedEnableFilters fallback_rewrite_css_urls,flatten_css_imports
ModPagespeedEnableFilters inline_css,move_css_above_scripts,move_css_to_head
ModPagespeedEnableFilters outline_css,rewrite_css
ModPagespeedEnableFilters combine_javascript,defer_javascript,inline_javascript
ModPagespeedEnableFilters outline_javascript,rewrite_javascript
