/* This is purposefully repetitive to make sure it's compressible */
big { color:     blue;   }
big { color:     blue;   }
big { color:     blue;   }
big { color:     blue;   }
big { color:     blue;   }
big { color:     blue;   }
big { color:     blue;   }
big { color:     blue;   }
big { color:     blue;   }
big { color:     blue;   }
big { color:     blue;   }
big { color:     blue;   }
big { color:     blue;   }
big { color:     blue;   }
big { color:     blue;   }
big { color:     blue;   }
big { color:     blue;   }
