body {
    height: 100%;
    font-family: Arial, Helvetica, Geneva, sans-serif;
	color: #7185c3;
	line-height: 1.2;
    background: #fff url(../Images/CurrentTheme/page_background_home_20111107.png) center top no-repeat;
}
