<IfModule pagespeed_module>
    ModPagespeed on
    ModPagespeedRespectVary on
</IfModule>

<FilesMatch "\.(js|css)$">
    <IfModule mod_headers.c>
        Header append Vary User-Agent
    </IfModule>
</FilesMatch>
